* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: EMcomic;
    font-style: normal;
}

.header {
    grid-area: header;
    font-size: 24pt;
    padding-left: 20px;
    text-shadow: 5px 5px 6px rgb(130, 120, 153);
}

.banner {
    grid-area: banner;
    background-image: url(/fotos/design2_image1.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
}

.principal {
    grid-area: principal;
    margin-bottom: 2x;
    position: relative;
    top: 50px;
}

.nav {
    grid-area: nav;
    background-image: url(/fotos/Logo_Mighty_ducks-01.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 97%;
    position: relative;
    top: 50px;
}

.grid {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas:
        "header header"
        "banner banner"
        "nav principal";
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 14pt;
}

p {
    font-size: 18pt;
}

.btn1,
.btn2,
.btn3 {
    background-color: bisque;
    background-color: #3429ce;
    color: white;
    padding: 12px 20px;
    float: right;
    border: #01000c;
    cursor: pointer;
    font-size: 16pt;
    margin: 4px 2px;
    text-decoration: none;
    box-shadow: 0 3px 3px black;
    top: -80px;
    position: relative;
    right: 20px;
    border: 1px solid rgb(8, 0, 0);
}

.banner .barra-navegacion {
    background-color: rgb(5, 7, 131);
    height: 40px;
    float: center;
    color: white;
    text-align: center;
    background-position: center;
    bottom: -262px;
    position: relative;
}